<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronOcr" version="2022.8.8198" targetFramework="net472" />
  <package id="IronOcr.Languages.French" version="2020.11.2" targetFramework="net472" />
  <package id="IronOcr.Languages.German" version="2020.11.2" targetFramework="net472" />
  <package id="IronOcr.Languages.Greek" version="2020.11.2" targetFramework="net472" />
  <package id="IronOcr.Languages.Italian" version="2020.11.2" targetFramework="net472" />
  <package id="IronOcr.Languages.Latin" version="2020.11.2" targetFramework="net472" />
  <package id="IronOcr.Languages.Russian" version="2020.11.2" targetFramework="net472" />
  <package id="IronOcr.Languages.Spanish" version="2020.11.2" targetFramework="net472" />
  <package id="Microsoft.CognitiveServices.Speech" version="1.14.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="Tesseract" version="4.1.1" targetFramework="net472" />
</packages>